.card {
  position: relative;
  height: 100px;
  width: 160px;
  border-radius: 4px;
  transition: 0.3s;
  margin: 10px 3px 25px;

  h2 {
    font-size: 1rem;
    transform: scaleY(2);
  }

  &:hover {
    transform: scale(1.2);
    z-index: 2;
  }

  .nomPays:hover {
    opacity: 1;
    transform: scaleY(0.5);
    z-index: 3;
  }

  .nomCapitale:hover {
    opacity: 1;
    transform: scaleY(0.5);
    z-index: 3;
  }

  .nomPays, .nomCapitale {
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: $white;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scaleY(0.5);
    transition: 0.3s;
  }

  .nomPays {
    bottom: 25%;
    border-radius: 10px 10px 0 0;
  }

  .nomCapitale {
    top: 25%;
    border-radius: 0 0 10px 10px;
    
  }

  img {
    height: 100px;
    width: 160px;
    object-fit: cover;
    border-radius: 10px;
  }
}
