@use "settings";

.countries {
    text-align: center;

    .radio-container {
        justify-content: space-around;
        align-items: center;
        margin: 0px 10px 20px;
        background: settings.$color-3;
        border-radius: 20px;
        padding: 10px;
        color: settings.$white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);

        input[type="range"] {
            transform: translateY(3px);
            // cursor: pointer;
        }

        label {
            margin-left: 5px;
            margin-right: 10px;
        }

        button {
            margin: 0;
            padding: 2px 6px;
            background-color: settings.$white;
            border: 2px solid;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.2s;
        }

        .allCountries {
            background: settings.$color-4;
            border-color: settings.$color-4;

            &:hover {
                background: settings.$white;
            }
        }

        .oneCountries {
            border-color: settings.$color-4;

            &:hover {
                background: settings.$color-4;
            }
        }

        .modeHard {
            background: settings.$color-2;
            border-color: settings.$color-2;

            &:hover {
                background: settings.$white;
            }
        }

        .modeEasy {
            border-color: settings.$color-2;

            &:hover {
                background: settings.$color-2;
            }
        }

        select {
            padding: 2px 4px;
            border: 2px solid settings.$black;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.2s;
        }

        li {
            margin: 10px 5px 10px;
        }
    }

    input[type="text"] {
        padding: 10px;
        border-radius: 40px;
        font-size: 1.3rem;
        border: 3px solid settings.$color-1;
        outline: none;
        transition: 0.4s;
        text-align: center;
        width: 400px;
        margin-bottom: 20px;

        &:focus {
            background: settings.$color-1;
            border-radius: 4px;
            color: settings.$white;
        }
    }

    button {
        margin: 0 10px 20px;
        padding: 4px 10px;
        background: none;
        border: 2px solid settings.$color-1;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background: settings.$color-1;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .red-button {
        border-color: settings.$color-3;

        &:hover {
            background: settings.$color-3;
            color: settings.$white;
            animation: shake 0.5s ease-in-out;
        }
    }
}


@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-10px); }
    40% { transform: translateX(0px); }
}
